
@import url('https://fonts.googleapis.com/css?family=Oswald');
#frontname {

  vertical-align: center;
  margin-top: 200px;
  font-size: 170px;

}
#frontpage {
  display: inline;
  text-align: center;
  margin-left: 1000px;
  font-family: 'Oswald', sans-serif;
}
#resumeword {
  text-align: center;
  color: black;
  font-size: 100px;
  position: relative;
  top: -150px;
  font-family: 'Oswald', sans-serif;
}
cursor{
  width: 50%;
  height: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

li a:hover {
    background-color: white;
    color: black;
}
