
@import url('https://fonts.googleapis.com/css?family=Oswald');
#frontname {

  vertical-align: center;
  margin-top: 200px;
  font-size: 170px;

}
#frontpage {
  display: inline;
  text-align: center;
}
cursor{
  width: 50%;
  height: 50%;
  margin-top: 20px;
  margin-left: -100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0;
    overflow: hidden;
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;
}

li a:hover {
    background-color: white;
    color: black;
}
